html {
    box-sizing: border-box;
    min-width: 350px;
}
#current, #search {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
#city_input {
    font-size: 30px;
    width: 40%;
    margin-bottom: 5px;
    border-radius: 5px;
}
#favourites_dropdown {
    
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 30px;
    width: 40%;

}
#forecast {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    width: 100%;
}
h2 {
    text-align: left;
    
}

.icon {
    
    padding: 5px;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    width: 40px;
    height: 40px;
}
.icon:hover {
    background-color: rgba(200, 200, 200, 0.7);
}
#buttons {
    justify-content: center;
    
    display: flex;
    width: 90%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.label {
    display: none;
}
.persona {
    font-size: 75px;
    margin: auto;
    padding: 5px;

}
#current_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    padding-left: 10px;
    padding-right: 10px;
}
#forecast_header {
    text-align: left;
    padding-left: 10px;

}
#current_icon {
    width: 100px;
    height: 100px;
    object-fit: contain;
    
    margin: auto;
}
.value {
    font-weight: bold;
    font-size: 15px;
}
#current table {
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    margin: auto;
}
#forecast img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
#forecast table {
    width: 90%;
    max-width: 500px;
    border-collapse: collapse;
    text-align: left;
    font-size: 20px;
    margin: auto;
}
body {
    font-family: Roboto, Arial, sans-serif;
    margin: auto;
    
    color: rgb(0, 0, 0);
    max-width: 600px;
    
}


